@import '../../../styles/mixins/animation';
@import '../../../styles/variables/colour';

.hover {
  cursor: none;
  &__spotlight {
    @include animate(scaleIn, .2s, linear, 1);
    background: $light;
    border-radius: 50%;
    cursor: none;
    mix-blend-mode: difference;
    pointer-events: none;
    position: absolute;
  }
}
