@import '../../../styles/variables/colour.module';

.hover {
  display: flex;
  justify-content: center;
  margin: 100px auto;
  &__title {
    cursor: none;
    text-align: center;
    padding: 20px;
  }
  &__image {
    pointer-events: none;
    position: absolute;
  }
}
