@import '../../../styles/variables/colour.module';

.gridContainer {
  display: grid;
  grid-template-areas: 'left middle right';
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-flow: row;
  grid-gap: 0;
  background-color: $peach;
}
.gridContainer > div {
  background-color: $purple;
  text-align: center;
  font-size: 30px;
}
.item1 {
  grid-area: left;
  grid-row: auto;
}
.item2 {
  grid-area: middle;
  grid-row: auto / span 2;
};
.item3 {
  grid-area: right;
  grid-row: auto;
};
.item4 {
  grid-area: left;
  grid-row: auto;
};
.item5 {
  grid-area: right;
  grid-row: auto;
}