@import './mixins/animation';
@import './mixins/control';
@import './variables/colour.module';
@import './variables/font.module';

// Reset
* {
  @include reset(0, 0, border-box, none, none);
  font-family: $font-family;
}

// HTML / BODY
html,
body {
  background: $dark;
  color: $light;
  font-size: 100%;
  height: 100%;
  width: 100%;
}

body {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

// Selection
::selection {
	color: $purple-150;
}

::-moz-selection {
	color: $purple-150;
}

// Scrollbar
::-webkit-scrollbar {
	background: $purple;
}

::-webkit-scrollbar-thumb {
	background: $purple-150;
}

// Headings
h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.375rem;
}

h4 {
  font-size: 1.125rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.875rem;
}

p {
  font-size: 1.125rem;
}

// Styles
.font {
  &--normal {
    font-style: $font-normal;
  }
  &--italic {
    font-style: $font-italic;
  }
}

// Weights
.font {
  &--thin {
    font-weight: $font-thin;
  }
  &--light {
    font-weight: $font-light;
  }
  &--regular {
    font-weight: $font-regular;
  }
  &--heavy {
    font-weight: $font-heavy;
  }
}
