@import './mixins/control.scss';
@import './styles.module.scss';

// Reset
* {
  @include reset(0, 0, border-box, none, none);
  font-family: $font;
}

// HTML / BODY
html,
body {
  background: $grey;
  color: $light;
}
