// Main
$dark: #1e1e1e;
$light: #ffffff;

// Primary
$blue: #65b1fc;
$grey: #242424;
$peach: #ff6666;
$pink: #ff99ff;
$purple: #be52f0;
$teal: #3b9c67;
$yellow: #ffda45;

// Light variations
$lightBlue: #9ccaf9;
$lightPeach: #ffa7a7;
$lightYellow: #fde894;

// Grey variations
$grey-050: #b6b6b6;
$grey-100: #8b8b8b;
$grey-150: #6c6c6c;
$grey-200: #474747;
