// Main
$black: #000000;
$dark: #1e1e1e;
$light: #faf8f8;
$white: #ffffff;

// Primary
$blue: #4aa5ff;
$grey: #242424;
$peach: #ff6666;
$pink: #ff76ff;
$purple: #a048ff;
$teal: #36bd73;
$yellow: #ffda45;

// Blue variations
$blue-050: #edf6ff;
$blue-100: #c9e4ff;
$blue-150: #a5d2ff;
$blue-200: #80c0ff;
$blue-250: #5caeff;

// Grey variations
$grey-050: #e9e9e9;
$grey-100: #bdbdbd;
$grey-150: #929292;
$grey-200: #666666;
$grey-250: #3a3a3a;

// Peach variations
$peach-050: #fff0f0;
$peach-100: #ffd1d1;
$peach-150: #ffb3b3;
$peach-200: #ff9494;
$peach-250: #ff7575;

// Pink variations
$pink-050: #fff1ff;
$pink-100: #ffd6ff;
$pink-150: #ffbbff;
$pink-200: #ff9fff;
$pink-250: #ff84ff;

// Purple variations
$purple-050: #f6edff;
$purple-100: #e3c8ff;
$purple-150: #d0a4ff;
$purple-200: #bd7fff;
$purple-250: #aa5aff;

// Teal variations
$teal-050: #ebf8f1;
$teal-100: #c3ebd5;
$teal-150: #9bdeb9;
$teal-200: #72d19d;
$teal-250: #4ac481;

// Yellow variations
$yellow-050: #fffbec;
$yellow-100: #fff4c7;
$yellow-150: #ffeda2;
$yellow-200: #ffe57d;
$yellow-250: #ffde58;
