@import '../../../styles/variables/colour.module';

.hover {
  display: flex;
  justify-content: center;
  margin: 150px auto;
  &__title {
    cursor: default;
    text-align: center;
    color: $yellow;
  }
  &__image {
    position: absolute;
    pointer-events: none;
  }
}
